@media screen and (min-width: 576px) {
   /* min = do valor para cima */
   /* max = até o valor informado */
   div{
    background-color: violet;
    color: wheat;
   }
}

@media screen and (prefers-color-scheme: dark) {
  div{
    background-color: black;
    color: antiquewhite;
  }
}
